* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f3f3f3;
}

textarea {
    resize: none;
}

p {
    margin-bottom: 0;
}

#navbar {
    align-items: center !important;
}